    <ion-header *ngIf="getActivePage() === 'DashboardPage'">
            <ion-navbar color="primary">
                <button ion-button menuToggle icon-only>
                    <ion-icon name='menu'></ion-icon>
                </button>
                <ion-title>
                    {{getActivePage().replace("Page", "")}}
                </ion-title>
            </ion-navbar>
    </ion-header>

<ion-menu [content]="content">

    <ion-header>
        <ion-title>Menu</ion-title>
    </ion-header>
    
    <ion-content>
        <ion-list>
            <button menuClose ion-item [class.destaqueAtivo]="checaAtivo(p)" *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
      
</ion-menu>
      
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
